body {
   max-width: 1200px;
   margin: auto;
   text-align: center;
}

p {
   text-align: justify;
}

.podatak {
   margin-top: 20px;
   display: flex;
   justify-content: center;
}

.podatak .ime_prezime {
   background-color: blue;
   color: white;
   padding: 20px;
   border-radius: 20px;
}
